.section {
  --title-color: var(--color-primary);

  padding-top: 2rem;
  padding-bottom: 2rem;

  &-title {
    margin-bottom: 2.25rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--title-color);
  }
}

.products {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  & > *:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
}

.question {
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  &-title {
    margin-bottom: 1.25rem;
    font-size: 2rem;
  }

  &-left {
    & > * + * {
      margin-top: 1.25rem;
    }
  }

  &-image {
    width: 100%;
    height: 18rem;
    border-radius: 1rem;
    background-color: black;
  }

  &-button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 2rem;
    color: white;
    font-weight: 500;
    font-size: 0.875rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
  }
}

.new-recipes {
  &-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--color-primary);
    color: white;
  }

  &-title {
    margin-bottom: 1.25rem;
    font-size: 3rem;
    font-weight: 600;
  }

  &-scroll {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

.cta {
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.25rem;
    padding-bottom: 8.25rem;
    background-color: black;
    border-radius: 1rem;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &-title {
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  &-input {
    &-container {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    width: 48rem;
    padding: 1.1875rem;
    border-radius: 9999px;
    border: none;
    background-color: white;
    color: grey;
    font-size: 0.75rem;
    font-weight: 500;
  }

  &-button {
    display: block;
    position: absolute;
    right: 0.5rem;
    padding: 0.6875rem 1rem;
    border: none;
    border-radius: 9999px;
    background-color: var(--color-primary);
    font-size: 0.75rem;
    font-weight: 400;
  }
}

.footer {
  &-container {
    background-color: var(--color-primary);
    color: white;
    font-size: 0.875rem;

    & a {
      color: white;
    }
  }

  &-inner-container {
    display: flex;
    gap: 2.5rem;
  }

  &-lists {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &-brand {
    width: 16.625rem;
  }

  &-logo {
    margin-bottom: 0.75rem;
  }

  &-list-title {
    margin-bottom: 1.75rem;
    font-weight: 600;
  }

  &-list {
    list-style: none;
    padding: 0;

    & > * + * {
      margin-top: 1.25rem;
    }
  }

  &-social-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
  }
}
