.section {
  padding-top: 2rem;
  padding-bottom: 4rem;

  &-title {
    margin-bottom: 2.25rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-primary);
  }
}

.products {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  & > *:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
}
