.carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 31.25rem;
  background-color: black;

  &-content {
    max-width: 29rem;
    margin-left: 6rem;
    color: white;
  }

  &-title {
    margin-bottom: 0.25rem;
    font-size: 1.625rem;
    font-weight: 600;
  }

  &-subtitle {
    font-size: 0.875rem;
  }

  &-stars {
    display: flex;
    align-items: center;
    margin-top: 0.25rem;
  }

  &-score {
    font-size: 0.75rem;
  }

  &-circles {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-top: 1.625rem;
    margin-bottom: 2rem;
  }
}
