.nav {
  box-shadow: 0 0.5rem 0.5rem hsla(0, 0, 0, 0.1);

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.625rem 0;
    gap: 6rem;
  }

  &-left {
    flex: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
}
